<template>
    <div v-if="socketState.connected" class="bg-gray-100 min-h-screen">
        <game></game>
    </div>
    <div v-else class="flex h-screen">
        <div class="h-12 m-auto">
            <div class="">Hello, who are you?</div>
            <input v-model="username"
                   @keyup.enter="onStart"
                   class="h-full"
                   type="text" value=""/>
            <button @click="onStart" class="btn btn-blue">Join</button>
        </div>
    </div>
</template>

<script>
import socket from '../socket';

export default {
  data() {
    return {
      username: '',
      socketState: socket.state,
    };
  },
  methods: {
    onStart() {
      socket.join(this.username);
    },
  },
};
</script>
