<template>
    <div class="grid grid-cols-6 gap-2 p-1 bg-gray-300 rounded">
        <div v-for="(tile, index) in tiles"
             :key="index"
             v-bind:class="colorClass(tile)"
             class="text-white text-2xl font-black flex items-center justify-center rounded"
             style="--aspect-ratio: 1/1;">
            {{ valueToShow(tile) }}
        </div>
    </div>
</template>

<script>
export default {
  props: ['tiles'],
  methods: {
    colorClass(value) {
      return `tile-${value}`;
    },
    valueToShow(value) {
      if (value > 0) {
        return value;
      }
      return '';
    },
  },
};
</script>

<style>
  .grid > [style^='--aspect-ratio']::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}
.tile-x { @apply bg-gray-800; }
.tile-0 { @apply bg-gray-200; }
.tile-2 { @apply bg-yellow-400; }
.tile-4 { @apply bg-yellow-500; }
.tile-8 { @apply bg-yellow-600; }
.tile-16 { @apply bg-blue-400; }
.tile-32 { @apply bg-green-400; }
.tile-64 { @apply bg-blue-600; }
.tile-128 { @apply bg-green-600; }
.tile-256 { @apply bg-pink-400; }
.tile-512 { @apply bg-pink-500; }
.tile-1024 { @apply bg-pink-600; }
.tile-2048 { @apply bg-red-500; }
</style>
