<template>
    <div class="h-full sm:w-1/3 sm:fixed sm:right-0">
        <div id="chatbox" class="chatbox m-2 mb-0 bg-gray-300 overflow-y-auto">
            <div v-for="(message, index) in socketState.messages" :key="index">
                <span class="font-bold">{{ message.username }}: </span>
                {{ message.body }}
            </div>
        </div>
        <div class="chat-message flex m-2 mt-0 sm:pl-3 sm:w-1/3 sm:fixed sm:right-0 sm:bottom-0">
            <input v-model="newMessage"
                   @keyup.enter="sendMessage()"
                   type="text" class="w-full mr-auto rounded" />
            <button @click="sendMessage()" class="btn btn-blue">send</button>
        </div>
    </div>
</template>

<script>
import socket from '../socket';

export default {
  data() {
    return {
      socketState: socket.state,
      newMessage: '',
    };
  },
  methods: {
    sendMessage() {
      socket.sendMessage(this.newMessage);
      this.newMessage = '';
    },
  },
};
</script>

<style>
 .chatbox {
     height: 93vh;
 }
 .chat-message {
     height: 5vh;
 }
</style>
