<template>
    <div>
        <div v-if="socketState.board" class="grid grid-cols-1 gap-1 sm:grid-cols-3 md:grid-cols-6">
            <div class="w-full sm:col-span-2 md:col-start-2">
                <div class="flex flex-col m-2">
                    <div class="text-5xl text-center text-gray-800">2048+</div>
                    <div class="text-sm text-gray-800">
                        Use your arrow keys to move the tiles. Tiles with the same number
                        merge into one when they touch. Other players can move the tiles the
                        same way you do. Add them up to reach 2048!
                    </div>
                    <div class="flex my-2">
                        <div class="w-1/3">Obstacles: {{ resetGameConfig.obstacles }}</div>
                        <div class="w-2/3">
                            <input v-model="resetGameConfig.obstacles"
                                   class="w-full" type="range" min="0" max="16" >
                        </div>
                    </div>
                    <div class="flex my-2">
                        <button @click="reset" class="btn btn-blue"> Reset </button>
                        <div class="ml-auto text-xl text-green-500" v-if="socketState.board.won">
                            Congratulations!
                        </div>
                        <div class="ml-auto text-xl text-red-500" v-if="socketState.board.lost">
                            Game Over!
                        </div>
                    </div>
                    <board v-bind:tiles="socketState.board.tiles"></board>
                </div>
            </div>
            <chat></chat>
        </div>
        <div v-else>
            Ops, something went wrong. No board data :( Check that the server is running
        </div>
    </div>
</template>

<script>
import socket from '../socket';

export default {
  data() {
    return {
      socketState: socket.state,
      moves: {
        37: 'left', 38: 'up', 39: 'right', 40: 'down',
      },
      resetGameConfig: {
        obstacles: 0,
      },
    };
  },
  methods: {
    onkey(e) {
      const keys = Object.keys(this.moves);
      const key = e.keyCode.toString();
      if (keys.includes(key) === true) {
        e.preventDefault();
        this.move(this.moves[key]);
      }
    },
    move(direction) {
      if (!this.socketState.board.won && !this.socketState.board.lost) {
        socket.pushEvent('move', { direction });
      }
    },
    reset() {
      socket.pushEvent('reset', this.resetGameConfig);
    },
  },
  mounted() {
    window.addEventListener('keydown', this.onkey);
  },
};

</script>

<style>
.btn {
    @apply font-bold p-2 rounded text-xl;
}
.btn-blue {
    @apply bg-blue-700 text-white;
}
.btn-blue:hover {
    @apply bg-blue-900;
}
</style>
